.nav-list {
    display: flex;
    justify-content: space-between;
    width: 635px;
    padding: 32px 0 32px 0;
    gap: 72px;
    margin: auto;
    text-align: center;
    font-size: 18px;
    line-height: 24.3px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
.image {
    width: 100%;
    height: 550px;
}
.main-container{
    width: 856px;
    height: 920px;
    padding: 88px 0 88px 0;
    margin: 0 auto;
}
.title {
    text-align: center;
    margin: 0 0 40px;
    font-weight: 600;
    font-size: 48px;
    line-height: 64.8px;
    font-family: Inter;
}
.text {
    text-align: left;
    font-weight: 500;
    font-size: 21px;
    line-height: 31.5px;
    font-family: Inter;
}
.span {
    color:#04959E;
}
.main-list {
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    font-family: Inter;
}
.buttons {
    margin-left: 315px;
    padding: 40px;
}
.button {
    text-align: center;
    height: 44px;
    width: 145px;
    padding: 10px 24px 10px 24px;
    background-color: #04959E;
    color: white;
    border: none;
}
.footer {
    text-align: center;
}